{% extends "base.html" %}
{% block js_header %}
    <script src="/static/js/posts/list.js"></script>
    <script src="/static/js/jquery.js"></script>{% endblock %}
{% import "_forms.html" as forms %}
{% block css_header %}
    {% assets "posts" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}
{% block page_header %}
    <article>
        <h1 id="title">{{ post.title }}</h1>
        <time datetime="{{ post.created_at.strftime('%Y-%m-%dT%H:%MZ') }}">{{ post.created_at.strftime('%Y-%m-%d %H:%M') }}</time>
        <div class="body">{{ post.body|safe }}</div>
        {% for tag in tags %}
            <a href="{{ url_for("tags.detail", title=tag) }}" class="btn">{{ tag}}</a>
        {% endfor %}
    </article>
{% endblock %}
{% block content %}
    {% if post.comments %}
        <h4>Комментарии</h4>
        {% for comment in post.comments %}
            {% if comment.public %}
                <div class="comment">
                <span class="author">{{ comment.author }}</span>
                <time datetime="{{ comment.created_at.strftime('%Y-%m-%dT%H:%MZ') }}">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</time>
                <div class="body">{{ comment.body }}</div>
            {% elif admin and not comment.public %}
                <div class="comment">
                <span class="author">{{ comment.author }}</span>
                <time datetime="{{ comment.created_at.strftime('%Y-%m-%dT%H:%MZ') }}">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</time>
                <div class="body">{{ comment.body }}</div>
            {% endif %}
        {% if admin %}
            <input id="{{ comment.created_at.strftime('%Y-%m-%dT%H:%M:%S.%f') }}" onclick="publicComment(this)"
                   value="{% if not comment.public %}Public{% else %}Un-public{% endif %}" type="button">
            <input id="{{ comment.created_at.strftime('%Y-%m-%dT%H:%M:%S.%f') }}" onclick="deleteComment(this)"
                   value="Delete" type="button">
        {% endif %}
        </div>
        {% endfor %}
    {% else %}
        <h4>Комментариев пока нет</h4><br>
    {% endif %}
    <p>Добавить комментарий</p>
    <form action="" method="post">
        {{ forms.render(form) }}
        <input type="submit" class="btn" value="Отправить">
    </form>
{% endblock %}
{% block js_footer %}
    {% for counter in config.COUNTERS %}
        {{ counter|safe }}
    {% endfor %}
{% endblock %}