{% extends "base.html" %}
{% block js_header %}<script src="/static/js/posts/list.js"></script>{% endblock %}
{% import "_forms.html" as forms %}
{% block page_header %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        <time>{{ post.created_at.strftime('%H:%M %Y-%m-%d') }}</time>
        <div class="body">{{ post.body|safe }}</div>
    </div>
{% endblock %}
{% block content %}
    {% if post.comments %}
        <h4>Комментарии</h4>
        {% for comment in post.comments %}
            {% if comment.public %}
                <div class="comment" id="{{ comment.created_at }}">
                    <span class="author">{{ comment.author }}</span>
                    <time>{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</time>
                    <div class="body">{{ comment.body }}</div>
                    {% if admin %}
                        <input name="{{ post.title }}" id="{{ comment.created_at }}" onclick="publicComment(this)"
                        value="{% if not comment.public %}Public{% else %}Un-public{% endif %}" type="button">
                        <input name="{{ post.title }}" id="{{ comment.created_at }}" onclick="deleteComment(this)"
                        value="Delete" type="button">
                    {% endif %}
                </div>
            {% elif admin and not comment.public %}
                <div class="comment" id="{{ comment.created_at }}">
                    <span class="author">{{ comment.author }}</span>
                    <time>{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</time>
                    <div class="body">{{ comment.body }}</div>
                    {% if admin %}
                        <input name="{{ post.title }}" id="{{ comment.created_at }}" onclick="publicComment(this)"
                        value="{% if not comment.public %}Public{% else %}Un-public{% endif %}" type="button">
                        <input name="{{ post.title }}" id="{{ comment.created_at }}" onclick="deleteComment(this)"
                        value="Delete" type="button">
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h4>Комментариев пока нет</h4><br>
    {% endif %}
    <p>Добавить комментарий</p>
    <form action="" method="post">
        {{ forms.render(form) }}
        <input type="submit" class="btn" value="Отправить">
    </form>
{% endblock %}
