{% extends "base.html" %}

{% block css_header %}
    {% assets "posts" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "redactor" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "admin" %}
        <link rel="stylesheet" type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}
{%- block topbar -%}
    {% if request.endpoint != 'admin.posts' %}{# Visible only not  admin-index #}
        <a href="{{ url_for('admin.posts') }}" class="btn">Posts</a>
    {% endif %}
    {% if request.endpoint != 'admin.post.create' %}
        <a href="{{ url_for("admin.post.create", type='post') }}" class="btn">New post</a>
    {% endif %}
    {% if request.endpoint != 'admin.tags' %}
        <a href="{{ url_for("admin.tags", type='post') }}" class="btn">Tags</a>
    {% endif %}
    {% if request.endpoint != 'admin.tag.create' %}
         <a href="{{ url_for("admin.tag.create", type='tag') }}" class="btn">New tag</a>
    {% endif %}
{%- endblock -%}