body {
  background-color: #fafafa;
  color: #444444;
  margin: 10px; }
  body a {
    color: #3084BF; }
    body nav {
      text-align: right;
      padding: 20px;
      margin-bottom: 20px;
      background: #fff; }
      body nav a {
        margin: 10px; }
  body .container {
    background: #fff;
    padding: 20px; }
    body .container form {
      background: #fafafa;
      border: 1px solid #e0e0e0;
      display: inline-block; }
      body .container form fieldset {
        border: none;
        padding: 10px; }
        body .container form textarea#body, body .container form input {
          resize: none;
          border-radius: 0.3em; }
          body .container form .btn {
            background: #62ABDF;
            color: #ffffff;
            margin: 10px;
            padding: 10px; }
  body h2, body h3, body h4, body h5 {
    margin: 0 0 10px;
    display: inline-block; }
    body .post {
      border-top: 3px solid #62ABDF;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0; }
      body .comment {
        border: 1px solid #e0e0e0; }
        body .post, body .comment {
          background: #fafafa;
          margin-bottom: 20px;
          padding: 10px;
          overflow-wrap: normal;
          word-wrap: break-word;
          word-break: normal;
          hyphens: manual;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto; }
          body .post time, body .comment time {
            float: right; }
            body .post img, body .comment img {
              width: 200px;
              height: 150px; }
              body .post .body, body .comment .body {
                border-top: #e0e0e0 1px solid;
                padding-top: 10px;
                margin: 10px; }
                body .post .overview, body .comment .overview {
                  display: inline-block;
                  vertical-align: top;
                  padding-left: 10px; }
                  body .post .overview h2, body .comment .overview h2 {
                    display: block; }
