{% macro render(form) -%}
    <fieldset>
        <legend>Please fill out the form</legend>
        {% for field in form %}
            {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
                {{ field() }}
            {% else %}
                {% if field.errors %}{% endif %}
                    {{ field.label }}
                    <div class="input">
                        {% if field.name == "body" %}
                            {{ field(rows=10, cols=100) }}
                        {% elif field.name == "password"%}
                            <input id="password" name="password" type="password" value="">{# dirty hack #}
                        {% else %}
                            {{ field() }}
                        {% endif %}
                        {% if field.errors or field.help_text %}
                                {% if field.errors %}
                                    {{ field.errors|join(' ') }}
                                {% else %}
                                    {{ field.help_text }}
                                {% endif %}
                        {% endif %}
                    </div>
            {% endif %}
        {% endfor %}
    </fieldset>
{% endmacro %}
