<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Записки на память</title>
    <script src="/static/js/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block js_header %}
    {% endblock %}
    {% assets "glob_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "hljs" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block css_header %}
    {% endblock %}
</head>
<body>
    <nav>
            <a href="/">На главную</a>
            <a href="/about/">О проекте</a>
            <a href="/rss/">RSS</a>
            <a href="/contacts/">Контакты</a>
    </nav>
<div class="container">
              {%- block topbar -%}
              {% endblock %}
              {% with msgs = get_flashed_messages() %}
                {% if msgs %}
                  {%- for msg in msgs %}
                    <div class="message">
                      {{ msg }}
                    </div>
                  {% endfor -%}
                {% endif %}
              {% endwith %}
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    <footer>
    {% block js_footer %}{# JS script for analitics,visor,etc #}
    {% endblock %}
    </footer>
</body>

</html>

