<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Записки на память</title>
    {% block js_header %}
    {% endblock %}
    {% assets "glob_css" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% block css_header %}
    {% endblock %}
</head>
<body>
    <nav>
            <a href="/">На главную</a>
            <a href="/about/">О проекте</a>
            <!--<a href="/rss/">RSS</a>-->
            <a href="/contacts/">Контакты</a>
    </nav>

<div class="container">
              {%- block topbar -%}
              {% endblock %}
              {% with msgs = get_flashed_messages() %}
                {% if msgs %}
                  {%- for msg in msgs %}
                    <div class="message">
                      {{ msg }}
                    </div>
                  {% endfor -%}
                {% endif %}
              {% endwith %}
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>

