$primaryLink: #3084BF;
$secondaryColor: #104F7C;
$thirdColor: #62ABDF;
$fourColor: #98d1f8;
$backGroundColor: #fafafa;
$blockColor: #fff;
$textColor: #444444;
$lightGrey: #e0e0e0;

body {
  background-color: $backGroundColor;
  color: $textColor;
  margin: 10px;
  a {
    color: $primaryLink;
  }
  nav {
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
    background: $blockColor;
    a {
      margin: 10px;
    }
  }
  .container {
    background: $blockColor;
    padding: 20px;
    form {
      background: $backGroundColor;
      border: 1px solid $lightGrey;
      display: inline-block;
      fieldset {
        border: none;
        margin: 0;
        padding: 0;
      }
      textarea#body,input,label{
        resize: none;
        margin: 10px;
        border-radius: 0.1em;
      }
    }
    a.btn,input.btn {
        border: none;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.1em;
        border-radius: 0.1em;
        background: $thirdColor;
        color: #ffffff;
        margin: 10px 0px 10px 10px;
        padding: 10px;
        display: inline-block;
      }
  }
  h3, h4, h5 {
    margin: 0 0 10px;
    display: inline-block;
  }
  .message {
    padding: 10px;
    margin-bottom: 10px;
    background: $fourColor;
  }
  blockquote{
    color: #777;
    font-style: italic;
    margin: 10px;
    padding: 10px;
  }
}