{% extends "admin/base.html" %}

{% block content %}
        {% for post in posts %}
                <div class="view_element">
                    <div class="meta">
                        <h3>{{ post.title }}</h3>
                    </div>
                    <div class="actions">
                        {% if post.public %}
                        <span class="public">Public</span>
                        {% else %}
                        <span class="un_public">Un-Public</span>
                        {% endif %} 
                        <a href="{{ url_for("admin.post.update", slug=post.slug) }}" class="btn">Edit</a>
                    </div>
                </div>
        {% endfor %}
{% endblock %}
